@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: var(--global-color);
}

a{
    text-decoration: none;
    cursor: pointer;
}

select{
    cursor: pointer;
}


:root {
    --global-bg: rgb(12, 12, 12);
    --global-color: white; /* rgb(255, 166, 0) */;
    --global-btn-bg: rgb(196, 196, 255); /* rgb(255, 166, 0) */;
    --global-display-width: 99.2vw;
}

button{
    cursor: pointer;
}

input:focus {
    outline: none;
  }


select:focus{
    outline: none;
}


button:focus{
    outline: none;
}