.navbar{
    width: calc(var(--global-display-width) - 100px);
    height: 50px;
    background-color: black;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    position: inherit;
}

.logo{
    max-width: 150px;
    max-height: 25px;
}

.nav_inner{
    width: 400px;
    height: 40px;
    display: flex;
    margin-bottom: 6px;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-end;

}

.nav_middle{
    align-self: center;
}

.nav_inner ul{
    display: flex;
    flex-direction: row;
}

.nav_inner ul li{
    min-width: 50px;
    margin-left: 20px;
    list-style: none;
    color: var(--global-btn-bg);
}

.nav_inner ul li:hover{
    color: rgb(119, 119, 119);
}

.nav_inner_mtv_buttns{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0;
    margin-top: 8px;
    font-size: 16px;
    
}


.search_bar input{
    width: 500px;
    height: 30px;
    border-radius: 4px;
    background-color: black;
    border: 1px solid rgb(34, 34, 34);
    padding-left: 10px;
    font-size: 14px;
    color: rgb(156, 156, 156);
}


.search_bar button{
    width: 80px;
    height: 30px;
    border: 0;
    margin-left: -85px;
    z-index: 5;
    font-size: 16px;
    color: white;
    background-color: var(--global-btn-bg);
    border-radius: 4px;
}

.genres_dropdown{
    min-width: 70px;
    height: 35px;
    background-color: transparent;
    font-size: 16px;
    color: rgb(110, 110, 110);
    border: 0;
    margin-top: 2px;
}

.profile_dropdown{
    background-color: transparent;
    border: 0;
    font-size: 16px;
    margin-top: 8px;
    color: rgb(110, 110, 110);
}