.pctrl_wrapper {
    width: calc(var(--global-display-width) - 16%);
    background-color: var(--global-bg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 50px;
}

.pctrl_wrapper p {
    color: gray;
}


.pctrl_form_wrapper {
    width: 460px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 25px;
}

.pctrl_genre_selector_div {
    margin-top: 40px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.genre_selector_child {
    width: 200px;
    height: 30px;
    margin-left: 20px;
    color: gray;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.genre_selector_child p{
    margin-top: -4px;
    margin-left: 10px;
}

.text_pass {
    width: 300px;
    height: 43px;
    margin-top: 20px;
    padding-left: 10px;
    border: 0;
    border-radius: 6px;
    color: black;
}

.input_details {
    color: gray;
    font-size: 12px;
    float: left;
    margin-top: 8px;
}

.form_group {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.pctrl_control_submit_button{
    width: 200px;
    height: 40px;
    background-color: var(--global-btn-bg);
    border: 0;
    color: black;
    font-size: 15px;
    margin-top: 24px;
}



.parental_control_indicator img{
    width: 12px;
    height: 12px;
}